
<div class="page_courses__item col-md-4 col-sm-12 col-xs-12">
    <aside class="page_courses__item___content">
        <div class="content">
            <div class="photo">
                <a href="#"><img src="assets/images/gallery/g2.jpg" alt=""></a>
            </div>
            <div class="text">
                <a href="#">
                    <h5>عفاف و حجاب(ویژه بانوان)</h5>
                    <div class="info">
                        <span>مدت آموزش</span>
                        <span>۸ ساعت</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="footer">
            <div class="stars" data-score="1.5"></div>
            <div>11 <i class="fa fa-user"></i></div>
        </div>
    </aside>
</div>
